{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block head_title %}Spiritum.Net{% endblock %}

{% block content %}
<!-- Section 1 -->
<div id="page-container">
  <section id="intro" data-speed="4" data-type="background">
      <div class="container">
        <hdgroup>
          <h1>{% trans "Welcome to Spiritum.Net!"%}</h1>
          <h2>Heading Level 2</h2>
        </hdgroup>
      </div>
  </section>
  <section class="diagonal">
      <div class="container">
          <h1>About us</h1>
          <div>Spiritum.Net develops a variety of solutions for different industry verticals that span across mobile,
            web and desktop platforms.
          We focus on establishing and servicing clients own dedicated software teams in Russia</div>
      </div>
  </section>
  <!-- Section 2 -->
  <section id="home" data-speed="8" data-type="background">
      <div class="container">
          More content goes here!
      </div>
  </section>
  <section class="diagonal">
      <div class="container">


        <h1>OUR SERVICES</h1>
        <p>{% blocktrans %}TaskBuster is a simple Task manager that helps you organize your daylife. </br>
            You can create todo lists, periodic tasks and more! </br></br> If you want to learn how it was
            created, or create it yourself!, check www.django-tutorial.com{% endblocktrans %}</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>

        <div>
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2 id="local-date">{{today}}</h2>
              <p>This is the time using your local information </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2 id="non-local-date">{{today|unlocalize}}</h2>
              <p>This is the default time format.</p>
              <p>{% localize off %}code without localization - {{today|unlocalize}}{% endlocalize %}</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Time Zones</h2>
              <p> Barcelona: <span id="time-tz">{{now|time:"H:i"}}</span></p>
              <p> UTC: <span id="time-utc">{{now|utc|time:"H:i"}}</span></p>
              <p> New York: <span id="time-ny">{{now|timezone:"America/New_York"|time:"H:i"}}</span></p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>
        </div>



      </div>
  </section>
  <!-- Section 2 -->
  <section id="updated" data-speed="12" data-type="background">
      <div class="container">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
      </div>
  </section>
  <section class="diagonal">
      <div class="container">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
        dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      </div>
  </section>
  <!-- Section 3 -->
  <section id="our-work" data-speed="16" data-type="background">
      <h1>OUR WORK</h1>
      <div class="container">
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
        dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem.    </div>
  </section>


<h1>don’t be shy, say hi!</h1>


     3150 Commercial Eve, Northbrook, IL, USA
     779-5248-6658
    E-mail: boss@spiritum.net
</div>

{% endblock %}