@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Base Rules */
h1,h2 {
    color: #fff;
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    text-shadow: 1px 1px 1px #000;
    text-decoration: uppercase;
}

section{
    min-height: 500px;
    background-color: #f8f8f8;
    background-position: 50% 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    -webkit-transform-style: preserve-3d;
}



#page-container {
    overflow: hidden;
}

.jumbotron h1 {
    color: rgba(200, 50, 255, 1);
}

.diagonal{
    margin: -30px 0;
    left:-20px;
    width: 105%;
    z-index: 1;

/*-webkit-transform-origin: right center;
   -moz-transform-origin: right center;
    -ms-transform-origin: right center;
     -o-transform-origin: right center;
        transform-origin: right center;*/


     -moz-transform: rotate(-3deg);
       -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg) translate3d(0,0,0); /*avoid jagged edges in chrome */;
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
               zoom: 1;
   /* IE8+ - must be on one line, unfortunately */
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9986295347545738, M12=0.05233595624294388, M21=-0.05233595624294388, M22=0.9986295347545738, SizingMethod='auto expand')";

   /* IE6 and 7 */
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.9986295347545738,
            M12=0.05233595624294388,
            M21=-0.05233595624294388,
            M22=0.9986295347545738,
            SizingMethod='auto expand');
}

.diagonal .container {
     -moz-transform: rotate(3deg);
       -o-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
               zoom: 1;

    /* IE8+ - must be on one line, unfortunately */
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9986295347545738, M12=-0.05233595624294437, M21=0.05233595624294437, M22=0.9986295347545738, SizingMethod='auto expand')";

   /* IE6 and 7 */
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.9986295347545738,
            M12=-0.05233595624294437,
            M21=0.05233595624294437,
            M22=0.9986295347545738,
            SizingMethod='auto expand');
}


#intro {
    background-image: url(../img/shutterstock_54593815.png);
    height: 600px;
}
#home {
    background-image: url(../img/shutterstock_60803848.png);
}
#about {
    background-image: url(../img/stay-updated.png);
    color: #fff;
}
#updated {
    background-image: url(../img/shutterstock_88117822.png);
}
#our-work{
    background-image: url(../img/shutterstock_218533360.png);
}




p#citizen-kane{
font-family:American\ Typewriter,Consolas,Courier\ New,Courier,sans-serif;
font-size:1.6rem;
padding:2.2rem
}
span.spoiler{
    text-shadow:0 0 8px #000;
    color:rgba(255,255,255,0);
    margin-left:0;padding:2.6rem;
    filter: DXImageTransform.Microsoft.Blur(pixelradius=2);
    zoom:1;pause-before:2s;
    transition:1s text-shadow linear
}
span.spoiler:hover{
    text-shadow:none;color:#000;
    filter:none;
}







